@import '~@/scss/_reset.css';  
@import '~@/scss/var.less'; 

body{
    background:@color1;
    border:0px !important;
    font-size: 1em;
}

div#image {
    height: @alturaImge;
    width: 66%;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}